.sentence-class--1 {
    border-bottom: 0.15em solid transparent;
    transition: all 0.25s;
}

.sentence-class-background--1 {
    background-color: transparent;
}



/* Code generated */

.sentence-class-0 {
    border-bottom: 0.15em solid hsl(48, 100%, 57%);
    transition: all 0.25s;
}

.sentence-class-background-0 {
    background-color: hsl(48, 100%, 57%);
}

#noti-0 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-1 {
    border-bottom: 0.15em solid hsl(48, 100%, 57%);
    transition: all 0.25s;
}

.sentence-class-background-1 {
    background-color: hsl(48, 100%, 57%);
}

#noti-1 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-2 {
    border-bottom: 0.15em solid hsl(48, 100%, 57%);
    transition: all 0.25s;
}

.sentence-class-background-2 {
    background-color: hsl(48, 100%, 57%);
}

#noti-2 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-3 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-3 {
    background-color: hsl(141, 71%, 68%);
}

#noti-3 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-4 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-4 {
    background-color: hsl(141, 71%, 68%);
}

#noti-4 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-5 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-5 {
    background-color: hsl(141, 71%, 68%);
}

#noti-5 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-6 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-6 {
    background-color: hsl(141, 71%, 68%);
}

#noti-6 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-7 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-7 {
    background-color: hsl(141, 71%, 68%);
}

#noti-7 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-8 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-8 {
    background-color: hsl(141, 71%, 68%);
}

#noti-8 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-9 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-9 {
    background-color: hsl(141, 71%, 68%);
}

#noti-9 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-10 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-10 {
    background-color: hsl(141, 71%, 68%);
}

#noti-10 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-11 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-11 {
    background-color: hsl(141, 71%, 68%);
}

#noti-11 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-12 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-12 {
    background-color: hsl(141, 71%, 68%);
}

#noti-12 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-13 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-13 {
    background-color: hsl(141, 71%, 68%);
}

#noti-13 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-14 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-14 {
    background-color: hsl(141, 71%, 68%);
}

#noti-14 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-15 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-15 {
    background-color: hsl(141, 71%, 68%);
}

#noti-15 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-16 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-16 {
    background-color: hsl(141, 71%, 68%);
}

#noti-16 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-17 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-17 {
    background-color: hsl(141, 71%, 68%);
}

#noti-17 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-18 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-18 {
    background-color: hsl(141, 71%, 68%);
}

#noti-18 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-19 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-19 {
    background-color: hsl(141, 71%, 68%);
}

#noti-19 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-20 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-20 {
    background-color: hsl(141, 71%, 68%);
}

#noti-20 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-21 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-21 {
    background-color: hsl(141, 71%, 68%);
}

#noti-21 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-22 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-22 {
    background-color: hsl(141, 71%, 68%);
}

#noti-22 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-23 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-23 {
    background-color: hsl(141, 71%, 68%);
}

#noti-23 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-24 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-24 {
    background-color: hsl(141, 71%, 68%);
}

#noti-24 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-25 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-25 {
    background-color: hsl(141, 71%, 68%);
}

#noti-25 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-26 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-26 {
    background-color: hsl(141, 71%, 68%);
}

#noti-26 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-27 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-27 {
    background-color: hsl(141, 71%, 68%);
}

#noti-27 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-28 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-28 {
    background-color: hsl(141, 71%, 68%);
}

#noti-28 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-29 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-29 {
    background-color: hsl(141, 71%, 68%);
}

#noti-29 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-30 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-30 {
    background-color: hsl(141, 71%, 68%);
}

#noti-30 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-31 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-31 {
    background-color: hsl(141, 71%, 68%);
}

#noti-31 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-32 {
    border-bottom: 0.15em solid hsl(141, 71%, 68%);
    transition: all 0.25s;
}

.sentence-class-background-32 {
    background-color: hsl(141, 71%, 68%);
}

#noti-32 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-33 {
    border-bottom: 0.15em solid hsl(217, 51%, 73%);
    transition: all 0.25s;
}

.sentence-class-background-33 {
    background-color: hsl(217, 51%, 73%);
}

#noti-33 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-34 {
    border-bottom: 0.15em solid hsl(217, 51%, 73%);
    transition: all 0.25s;
}

.sentence-class-background-34 {
    background-color: hsl(217, 51%, 73%);
}

#noti-34 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-35 {
    border-bottom: 0.15em solid hsl(217, 51%, 73%);
    transition: all 0.25s;
}

.sentence-class-background-35 {
    background-color: hsl(217, 51%, 73%);
}

#noti-35 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-36 {
    border-bottom: 0.15em solid hsl(217, 51%, 73%);
    transition: all 0.25s;
}

.sentence-class-background-36 {
    background-color: hsl(217, 51%, 73%);
}

#noti-36 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-37 {
    border-bottom: 0.15em solid hsl(217, 51%, 73%);
    transition: all 0.25s;
}

.sentence-class-background-37 {
    background-color: hsl(217, 51%, 73%);
}

#noti-37 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-38 {
    border-bottom: 0.15em solid hsl(217, 51%, 73%);
    transition: all 0.25s;
}

.sentence-class-background-38 {
    background-color: hsl(217, 51%, 73%);
}

#noti-38 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-39 {
    border-bottom: 0.15em solid hsl(217, 51%, 73%);
    transition: all 0.25s;
}

.sentence-class-background-39 {
    background-color: hsl(217, 51%, 73%);
}

#noti-39 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-40 {
    border-bottom: 0.15em solid hsl(217, 51%, 73%);
    transition: all 0.25s;
}

.sentence-class-background-40 {
    background-color: hsl(217, 51%, 73%);
}

#noti-40 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-41 {
    border-bottom: 0.15em solid hsl(217, 51%, 73%);
    transition: all 0.25s;
}

.sentence-class-background-41 {
    background-color: hsl(217, 51%, 73%);
}

#noti-41 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-42 {
    border-bottom: 0.15em solid hsl(171, 80%, 61%);
    transition: all 0.25s;
}

.sentence-class-background-42 {
    background-color: hsl(171, 80%, 61%);
}

#noti-42 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-43 {
    border-bottom: 0.15em solid hsl(171, 80%, 61%);
    transition: all 0.25s;
}

.sentence-class-background-43 {
    background-color: hsl(171, 80%, 61%);
}

#noti-43 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.sentence-class-44 {
    border-bottom: 0.15em solid hsl(171, 80%, 61%);
    transition: all 0.25s;
}

.sentence-class-background-44 {
    background-color: hsl(171, 80%, 61%);
}

#noti-44 {
    border: 2px solid transparent;
    transition: all 0.25s;
}

.hint-1 {
background-color: hsl(48, 100%, 57%);
padding: 10px;
padding-left: 26px;
padding-right: 26px;
display: inline-block;
font-weight: bold;
margin-bottom: 10px;
margin-top: 10px;
display: none; 
}

.hint-3 {
background-color: hsl(217, 51%, 73%);
padding: 10px;
padding-left: 26px;
padding-right: 26px;
display: inline-block;
font-weight: bold;
margin-bottom: 10px;
margin-top: 10px;
display: none; 
}

.hint-2 {
background-color: hsl(141, 71%, 68%);
padding: 10px;
padding-left: 26px;
padding-right: 26px;
display: inline-block;
font-weight: bold;
margin-bottom: 10px;
margin-top: 10px;
display: none; 
}

.hint-4 {
background-color: hsl(171, 80%, 61%);
padding: 10px;
padding-left: 26px;
padding-right: 26px;
display: inline-block;
font-weight: bold;
margin-bottom: 10px;
margin-top: 10px;
display: none; 
}